h1 {
    text-align: center;
    position: relative;
}
.sidebar-filter {
    position: absolute;
    margin-top: 5px;
    width: 200px;
    left: 0;
}
.ship-list {
    position: absolute;
    width: calc(100% - 200px);
    right: 0;
}
.ship-div {
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
.filter-item-block {
    text-align: center;
    background-color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.form-item {
    padding-top: 2px;
    padding-left: 2px;
    text-align: left;
}