<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Shipyard</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
</head>
<body>
<h1>Elite Dangerous Shipyard</h1>
<div>
    <div class="sidebar-filter">
        <form name="filter" action method="get">
            <div class="filter-item-block">
                <span>Cost</span>
            </div>
            <div class="filter-item-block">
                <div class="form-item">
                    <input type="text" name="price-min" id="price-min" style="width: 70px" placeholder="31000" pattern="[0-9]{0,9}">
                    <label for="price-min"> </label>
                    <span>-</span>
                    <input type="text" name="price-min" id="price-max" style="width: 70px" placeholder="208968450" pattern="[0-9]{0,9}">
                    <label for="price-max"> </label>
                    <span>cr</span>
                </div>
            </div>
            <div class="filter-item-block">
                <span>Manufacturer</span>
            </div>
            <div class="filter-item-block">
                <div class="form-item">
                    <input type="checkbox" name="Core Dynamics" id="coreDynamics" onchange="coreDynamicsShips()">
                    <label for="coreDynamics">Core Dynamics</label>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Faulcon DeLacy" id="faulconDeLacy" onchange="faulconDeLacyShips()">
                    <label for="faulconDeLacy">Faulcon DeLacy</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Gutamaya" id="gutamaya" onchange="gutamayaShips()">
                    <label for="gutamaya">Gutamaya</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Lakon" id="lakon" onchange="lakonShips()">
                    <label for="lakon">Lakon</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Saud Kruger" id="saudKruger" onchange="saudKrugerShips()">
                    <label for="saudKruger">Saud Kruger</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Zorgon Peterson" id="zorgonPeterson" onchange="zorgonPetersonShips()">
                    <label for="zorgonPeterson">Zorgon Peterson</label>
                </div>
            </div>
            <div class="filter-item-block">
                <span>Size</span>
            </div>
            <div class="filter-item-block">
                <div class="form-item">
                    <input type="checkbox" name="Large" id="large" value="large" onchange="largeShips()">
                    <label for="large">Large</label>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Medium" id="medium" value="medium" onchange="mediumShips()">
                    <label for="medium">Medium</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Small" id="small" value="small" onchange="smallShips()">
                    <label for="small">Small</label><br>
                </div>

            </div>
        </form>
    </div>
    <div class="ship-list">
        <div id="placeholder">

        </div>
    </div>
</div>
<script async src="../static/js/script.js" th:src="@{js/script.js}"></script>
<script async src="../static/js/size.js" th:src="@{js/size.js}"></script>
<script async src="../static/js/manufacturer.js" th:src="@{js/manufacturer.js}"></script>
</body>