<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Shipyard</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{styles/style.css}"/>
</head>
<body onload="checkIt()">
<h1>Elite Dangerous Shipyard</h1>
<div>
    <div class="sidebar-filter">
        <form name="filter" action method="get">
            <div class="filter-item-block">
                <span>Cost</span>
            </div>
            <div class="filter-item-block">
                <div class="form-item">
                    <input type="text" name="priceMin" id="priceMin" style="width: 70px" value="31000"
                           onchange="checkIt()">
                    <label for="priceMin"> </label>
                    <span>-</span>
                    <input type="text" name="priceMin" id="priceMax" style="width: 70px" value="208968450"
                           onchange="checkIt()">
                    <label for="priceMax"> </label>
                    <span>cr</span>
                </div>
            </div>
            <div class="filter-item-block">
                <span>Manufacturer</span>
            </div>
            <div class="filter-item-block">
                <div class="form-item">
                    <input type="checkbox" name="Core Dynamics" id="coreDynamics" onchange="checkIt()">
                    <label for="coreDynamics">Core Dynamics</label>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Faulcon DeLacy" id="faulconDeLacy" onchange="checkIt()">
                    <label for="faulconDeLacy">Faulcon DeLacy</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Gutamaya" id="gutamaya" onchange="checkIt()">
                    <label for="gutamaya">Gutamaya</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Lakon" id="lakon" onchange="checkIt()">
                    <label for="lakon">Lakon</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Saud Kruger" id="saudKruger" onchange="checkIt()">
                    <label for="saudKruger">Saud Kruger</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Zorgon Peterson" id="zorgonPeterson" onchange="checkIt()">
                    <label for="zorgonPeterson">Zorgon Peterson</label>
                </div>
            </div>
            <div class="filter-item-block">
                <span>Size</span>
            </div>
            <div class="filter-item-block">
                <div class="form-item">
                    <input type="checkbox" name="Large" id="large" value="large" onchange="checkIt()">
                    <label for="large">Large</label>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Medium" id="medium" value="medium" onchange="checkIt()">
                    <label for="medium">Medium</label><br>
                </div>
                <div class="form-item">
                    <input type="checkbox" name="Small" id="small" value="small" onchange="checkIt()">
                    <label for="small">Small</label><br>
                </div>

            </div>
        </form>
    </div>
    <div class="ship-list">
        <div id="placeholder">

        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script async src="../static/scripts/script.js" th:src="@{scripts/script.js}"></script>
</body>